@font-face {
    font-family: 'Highway Gothic';
    src: url('HighwayGothic.ttf') format('opentype'); 
    font-weight: normal;
    font-style: normal;
}


@font-face {
    font-family: 'Mont Heavy';
    src: url("MontHeavy1.ttf") format('opentype'); 
    font-weight: normal;
    font-style: normal;
}



body {
    font-family: 'Highway Gothic', Arial, sans-serif;
    background: rgb(16,9,24);
    background-color: #232323; 
    margin: 0;
    padding: 0;
    font-size: 100%;
    color: #fff;
}


header {
    background-color: #0a0a0a;
    padding-top: 0%;
    padding-bottom: 0%;
    margin: 0%;
    padding-left: 0%;
    padding-right: 0%;
    text-align: center;


}


nav ul {
    margin: 0%;
    box-shadow: 0;
    margin-bottom: 0%;
    padding-block: .1%;
    margin-inline: 32.3%;
    padding-inline: 0%;
    background-color: hsl(0, 0%, 8%);
    border-radius: 5px;


}

nav li {
    display:inline-flex;
    margin-inline: 0%;
    padding-inline: 0%;


}

nav a {                      /* Navegaciooooooooooooooooooooooooooooooooooooooooon */
    text-decoration: none;
    color: #ffffff;
    font-weight: normal; 
    font-size: 1em;
    transition: color 0.3s ease;
    margin-top: 0%;
    margin-inline: 0%;
    padding-inline: 0%;
}



section {
    background-color: #fff;
    padding: 40px;
    margin-inline:5%;
    border-radius: 5px;

}

/* Estilos para el pie de página */
footer {
    background-repeat: no-repeat;
    background-position: center;
    background-size: 35%;
    background-size: cover;
    background-position-y: 40%;
    background-color: #0a0a0a;
    color: #fff;
    text-align: center;
    padding-top: 20px;
    padding-bottom: 100px;
    margin-top: 2%;
}

section {
    background-color: rgba(0, 0, 0, 0.15);
    margin-block: 2%;
}

.latest-updates {
    background-color: #00000000;
}

.featured-games {
    background-color: #00000000;
}



footer p {
    font-weight: normal;
    font-size: 80%;
}

.nav-link {
    padding-inline: 28px;
    border-radius: 3px;
    padding-block: 4%;
    transition: background-color 0.3s ease;
    margin-inline: 0%;
}

/* ANIMACION POP UP */
.nav-link:hover {
    background-color: hsl(0, 0%, 16%);
    transition: background-color 0.3s ease, transform 0.3s ease; 
}
.nav-link {
    transition: background-color 0.3s ease, transform 0.3s ease; 
}


.titleheader {
    font-size: 96px;
}


#particles-js {
    width: 100%;
    height: 100%;
    position: fixed;
    z-index: -1;
}



  /* LOGO */
header img {
    width: 55%;
    height: auto;
    margin-top: 3%;
}
    
.waves {
    position:relative;
    width: 100%;
    height:500vh;
    margin-bottom:-7px; /*Fix for safari gap*/
    min-height:100px;
    max-height:200px;
  }

  .parallax > use {
    animation: move-forever 25s cubic-bezier(.55,.5,.45,.5)     infinite;
  }
  .parallax > use:nth-child(1) {
    animation-delay: -2s;
    animation-duration: 17s;
  }
  .parallax > use:nth-child(2) {
    animation-delay: -3s;
    animation-duration: 20s;
  }
  .parallax > use:nth-child(3) {
    animation-delay: -4s;
    animation-duration: 23s;
  }
  .parallax > use:nth-child(4) {
    animation-delay: -5s;
    animation-duration: 30s;
  }
  @keyframes move-forever {
    0% {
     transform: translate3d(-90px,0,0);
    }
    100% { 
      transform: translate3d(85px,0,0);
    }
  }
  /*Shrinking for mobile*/
  @media (max-width: 768px) {
    .waves {
      height:120px;
      min-height:120px;
    }
  }

  .morespace {
    padding-bottom: 10%;
  }

  .buttondown img {
    width: 4%;
    height: auto;
    animation: MoveUpDown 3s ease infinite;
    position: absolute;
    left: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.1);
    border-radius: 100%;
    margin-bottom: -16%;
    position: relative;
    z-index: 3;
    transform: scale(1.0);
    transition: transform 0.5s ease, background-color 0.5s ease;
  }


  @keyframes MoveUpDown {
    0%, 100% {
      bottom: 0;
      opacity: 100%;
    }
    50% {
      bottom: 4rem;
      opacity: 5%;
    }
  }


  .buttondown {
    text-align: center;
  }

  .buttondown img:hover {
    cursor: pointer;
    transform: scale(1.2);
    background-color: hsla(0, 0%, 0%, 0.2);
    transition: transform 0.5s ease, background-color 0.5s ease;
  }



  html {
    scroll-behavior: smooth;
  }

  .hidden {
    opacity: 0;
    transform: translateY(25%);
    transition: all 1s ease;
  }

  .show {
    opacity: 1;
    transform: translateY(0);
  }


  /* width */
::-webkit-scrollbar {
  width: 8px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #0a0a0a;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #4c4c4c;
  border-radius: 4px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #333333;
}



.containernews {
  display: grid;
  align-items: center; 
  grid-template-columns:  1fr 1fr;
  column-gap: 5px;
}

.imagenews img {
    width: 85%;
    border-radius: 5px;
    
  }
.imagenews {
  text-align: center;
}


h3 {
  font-size: 200%;
  text-align: left;
  font-weight: bolder;
  padding: 0%;
  margin: 0%;
}

.games {
  
  padding: 0%;
  padding-bottom: 3%;
  padding-top: 1%;
  background-color: #00000032;
  margin-bottom:4%;
  margin-inline: 0%;
  border-radius: 0%;
}

.games a img{
  display: inline;
  margin-inline: 1%;
  border-radius: 5px;
  transform: scale(1.0);
  transition: transform 0.3s ease;
}

.games a img:hover {
  transform: scale(1.1);
  transition: transform 0.3s ease;
}

.divgames {
  text-align: center;
  padding: 0%;

}

h4 {
  font-size: 250%;
  text-align: center;
  margin: 0%;
  padding: 0%;
  margin-bottom: 2%;

}

.gamesdiv {
  padding-top: 0%;
  padding-bottom: 3%;
}

textarea {
  width: 100%;
  background-color: #2a2a2a;
  resize: none;
  border: 0px;
  color: white;
  border-radius: 5px;
  height: 80px;
  font-family: Highway Gothic;
}

.sumbit {
  font-family: Highway Gothic;
  background-color: #6f3e9a;
  border-radius: 8px;
  color: #fff;
  border: none;
  width: 25%;
  height: 30px;
  margin-top: 4%;
  text-align: center;
  margin-left: 75%;
  cursor: pointer;
  transform: scale(1.0);
  transition: transform 0.5s ease;
}

.sumbit:hover {
  transform: scale(1.1);
  transition: transform 0.5s ease;
}

#mailinput {
  background-color: #2a2a2a;
  border: 0px;
  box-sizing: border-box;
  border-radius: 5px;
  border-style: hidden;
  color: #fff;
  font-family: Highway Gothic;
  width: 100%;
  height: 28px;
  margin-bottom: 5%;
}


#mailinput :focus {
  border: 0px; 
}

.contactdiv {
  text-align: left;
  
}

h5 {
  text-align: center;
  font-size: 250%;
  margin: 0%;
  padding: 0%;
  margin-bottom: 10%;
}

.contactsection {
 margin: 0%;
 display: grid;
 grid-template-columns: 1fr 1fr;
 background-color: #6f3e9a00;
}
.divform {
  margin-left: 30%;
  background-color: #00000032;
  padding: 10%;
  padding-bottom: 15%;
  border-radius: 10px;
}

.imgmail {
  text-align: center;
}
.imgmail img {
  animation: MoveLeftAndRight 5s ease infinite;
  width: 20%;
  margin-top: 8.5%;
  opacity: calc(1);
  background-color: rgba(10, 10, 10, 0.144);
  border-radius: 100%;
  padding: 2%;
  position: absolute;
  text-align: center;
}

@keyframes MoveLeftAndRight {
  0%, 100% {
    left: 10%;
    opacity: 100%;
    padding: 2%;
    transform: scale(1.1);
    width: 20%;
  }
  50% {
    left: 30%;
    opacity: 0%;
    padding: 0%;
    transform: scale(1.0);
    width: 15%;

  }
}


h6 {
  text-align: left;
  padding: 0%;
  font-size: 125%;
  margin-bottom: 5%;
}
h7 {
  font-size: 75%;
}

.logozetaform {
  width: 25%;
}


.formcompleted {
  margin-top: -12%;
  text-align: center;
  margin-inline: 20%;
  border-radius: 25px;
}

h8 {
  font-size: 300%;
  font-weight: bolder;
  color: #6f3e9a;
  
}

.divformcomplete p {
  font-size: 120%;
}
.linkform {
  font-size: 150%;
  color: #6f3e9a;
  font-weight: bold;
  transition: font-size color 0.5s ease;
  text-decoration: underline;
}

.linkform:hover {
  font-size: 160%;
  color: #9d56dc;
  transition: font-size 0.5s ease, color 0.5s ease;

}
.divgames {
  display: inline-flex;
}

#contact {
  margin: 0%;
  padding: 0%;
}




.mobileheadernav ul {
  font-size: 100%;
  display: inline-flex;
  margin: 0%;
  margin-bottom: 15%;
  position: relative;
}

.mobileheadernav ul a {
  padding-inline: 10px;
  padding-block: 5px;
}

.logozetamobile {
  width: 90%;
  margin-top: 15%;
}

.divgamesmobile {
  display: block;
  text-align: center;
}
.divgamesmobile img {
  margin-block: 5%;
}

.contactsectionmobile {
  margin-inline: 0%;
}

.divformmobile {
  margin-inline: 5%;
  
}


@media (max-width: 800px) {     /* VISTA DISPOSITIVOS MOBILES */
  .buttondown {
    display: none;
  }
  .headernav {
    display: none;
  }
  .logozetapc {
    display: none;
  }
  .imagenews {
    display: none;
  }
  .containernews {
    display: none;
  }
  .divgames {
    display: none;
  }
  .imgmail {
    display: none;
  }
  .contactsection {
    display: none;
  }
  .socialmediapc {
    display: none;
  }
}

@media (min-width: 801px) {    /* VISTA PARA COMPUTADORES */
  .socialmediamobile{
    display: none;
  }
  .mobileheadernav {
      display: none;
  }

  .logozetamobile {
    display: none;
  }
  .containernewsmobile {
    display: none;
  }
  .divgamesmobile {
    display: none;
  }
  .contactsectionmobile {
    display: none;
  }
}

.footerline {
  background-color: #4d4d4d;
  margin: 0%;
  padding-block: 0.1px;
  font-size: 0.1px;
  margin-block: 3%;
}

.socialmedialinks {
  text-align: left;
  font-size: 100%;
}

.socialmedialinks p {
  margin-left: 10px;
}

.footer {
  margin-inline: 10%;
}

footer {
  padding: 0%;
  padding-block: 3%;
}

.linksfooter {
  filter: invert();
}

.linksfooter a {
  margin-inline: 5px;
}

.socialmedialinks img {
  transform: scale(1.0);
  transition: transform 0.3s ease;
}

.socialmedialinks img:hover {
  transform: scale(1.1);
  transition: transform 0.3s ease;
}