@font-face {
    font-family: 'Highway Gothic';
    src: url('HighwayGothic.otf') format('opentype'); 
    font-weight: normal;
    font-style: normal;
}


@font-face {
    font-family: 'Mont Heavy';
    src: url("MontHeavy.otf") format('opentype'); 
    font-weight: normal;
    font-style: normal;
}

/* Estilos generales */
body {
    font-family: 'Highway Gothic', Arial, sans-serif;
    background-color: #1f1f1f; /* Cambiar el color de fondo a gris medio oscuro */
    margin: 0;
    padding: 0;
    font-size: 100%; /* Aumenta el tamaño del texto en un 10% */
}

/* Estilos para el encabezado */
header {
    background-image: url(wave.svg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: 101%;
    background-size: cover;
    background-position-y: 0%;
    background-color: #9940ff80;
    color: #fff;
    padding: 1%;
    text-align: center;
    box-shadow: 0px 0px 48px 0px rgba(0,0,0,1);
    margin-bottom: 3%;
}

header h1 {
    font-family: 'Mont Heavy', Arial, sans-serif;
    font-size: 36px;
    font-weight: normal; /* Elimina la negrita */
    color: #fff;
}

/* Estilos para los enlaces de navegación */
nav ul {
    list-style-type: none;
    padding: 0;
}

nav li {
    display:inline-flex;
    margin-right: 1.5%;
    margin-left: 1.5%;
}

nav a {
    text-decoration: none;
    color: #dbdbdb;
    font-weight: normal; /* Elimina la negrita */
    font-size: 24px;
    transition: color 0.3s ease;
}

nav a:hover {
    color: #ffffff;
}

header h1 {
    font-family: 'Mont Heavy', Arial, sans-serif;
    font-size: 36px;
    font-weight: normal; /* Elimina la negrita */
    color: #fff;
}

/* Estilos para la sección de descargas */
section {
    background-color: #fff;
    padding: 40px;
    margin: 20px;
    box-shadow: 0px 0px 48px 0px rgba(0,0,0,1);
    border-radius: 12px;
}

section h2 {
    font-size: 24px;
    margin-bottom: 20px;
    color: #fff; /* Color de texto blanco */
}

section h3 {
    font-size: 24px;
    margin-bottom: 20px;
    color: #fff; /* Color de texto blanco */
    text-align: center;
}

/* Estilos para el pie de página */
footer {
    background-image: url(wave2.svg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: 35%;
    background-size: cover;
    background-position-y: 40%;
    background-color: #9940ff80;
    color: #fff;
    text-align: center;
    padding: 10px;
    margin-top: auto; /* Fija el pie de página en la parte inferior */
    box-shadow: 0px 0px 48px 0px rgba(0,0,0,1);
}

/* Estilos para enlaces de descarga */
a.download-link {
    display: block;
    background-color: #ff9900;
    color: #fff;
    text-align: center;
    padding: 10px 20px;
    margin-top: 10px;
    text-decoration: none;
    border-radius: 12px;
    transition: background-color 0.3s ease;
}

a.download-link:hover {
    background-color: #f77d00;
}

/* Reducir la transparencia de los recuadros blancos en Featured Games y Latest Updates */
.featured-games,
section {
    background-color: #00000073; /* Reducir la transparencia al 35% */
}

/* Establecer el tamaño de las imágenes en Featured Games */
.featured-games figure img {
    width: 500px; /* Cambiar el ancho según tus necesidades */
    height: auto;
    border-radius: 12px; /* Agregar bordes redondeados */
}

/* Estilo para los juegos individuales */
.featured-games figure {
    display: inline-block; /* Muestra los juegos en línea horizontal */
    margin-right: 20px; /* Espacio entre los juegos */
    position: relative; /* Posición relativa para alinear el texto */
}

/* Estilo para el texto dentro de las figuras */
.featured-games figcaption {
    position: absolute; /* Posición absoluta para superponer el texto */
    bottom: 0; /* Alinea el texto en la parte inferior */
    left: 0; /* Alinea el texto en la parte izquierda */
    width: 100%; /* Ocupa todo el ancho de la figura */
    background-color: rgba(255, 0, 0, 0.158); /* Fondo negro con transparencia */
    color: #fff; /* Color de texto blanco */
    padding: 5px; /* Espacio interno para el texto */
    text-align: center; /* Centra el texto horizontalmente */
    font-family: 'Mont Heavy', Arial, sans-serif; /* Aplica la fuente del título */
    font-size: 18px; /* Tamaño del texto */
    margin-top: 0; /* Ajusta la distancia hacia abajo del texto */
}

/* Estilo para los enlaces a los juegos */
.featured-games figure a {
    font-family: 'Mont Heavy', Arial, sans-serif; /* Aplica la fuente del título */
    color: #fff; /* Cambia el color del texto a blanco */
    text-decoration: none; /* Quita la subrayado de los enlaces */
}

/* ... (Tu CSS anterior) ... */

/* Estilos para el pie de página */
footer {
    background-color: #9940ff80;
    color: #fff;
    text-align: center;
    padding: 10px;
    margin-top: 3%; /* Fija el pie de página en la parte inferior */
}

/* Estilos para enlaces de descarga */
a.download-link {
    display: block;
    background-color: #ff9900;
    color: #fff;
    text-align: center;
    padding: 10px 20px;
    margin-top: 10px;
    text-decoration: none;
    border-radius: 12px;
    transition: background-color 0.3s ease;
}

a.download-link:hover {
    background-color: #f77d00;
}

/* Reducir la transparencia de los recuadros blancos en Featured Games y Latest Updates */
.featured-games,
.latest-updates,
section {
    background-color: #00000036; /* Reducir la transparencia al 35% */
}

/* Establecer el tamaño de las imágenes en Featured Games */
.featured-games figure img {
    width: 500px; /* Cambiar el ancho según tus necesidades */
    height: auto;
    border-radius: 12px; /* Agregar bordes redondeados */
}

/* Estilo para los juegos individuales */
.featured-games figure,
.latest-updates figure {
    display: inline-block; /* Muestra los juegos en línea horizontal */
    margin-right: 20px; /* Espacio entre los juegos */
    position: relative; /* Posición relativa para alinear el texto */
}

/* Estilo para el texto dentro de las figuras */
.featured-games figcaption,
.latest-updates figcaption {
    position: absolute; /* Posición absoluta para superponer el texto */
    bottom: 0; /* Alinea el texto en la parte inferior */
    left: 0; /* Alinea el texto en la parte izquierda */
    width: 100%; /* Ocupa todo el ancho de la figura */
    background-color: rgba(255, 0, 0, 0.158); /* Fondo negro con transparencia */
    color: #fff; /* Color de texto blanco */
    padding: 5px; /* Espacio interno para el texto */
    text-align: center; /* Centra el texto horizontalmente */
    font-family: 'Mont Heavy', Arial, sans-serif; /* Aplica la fuente del título */
    font-size: 18px; /* Tamaño del texto */
    margin-top: 0; /* Ajusta la distancia hacia abajo del texto */
}

/* Estilo para los enlaces a los juegos */
.featured-games figure a,
.latest-updates figure a {
    font-family: 'Mont Heavy', Arial, sans-serif; /* Aplica la fuente del título */
    color: #fff; /* Cambia el color del texto a blanco */
    text-decoration: none; /* Quita la subrayado de los enlaces */
}

/* Estilo para el texto dentro de las figuras */
.featured-games figcaption,
.latest-updates figcaption {
    font-family: 'Mont Heavy', Arial, sans-serif; /* Aplica la fuente del título */
    color: #fff; /* Cambia el color del texto a blanco */
    text-decoration: none; /* Quita la subrayado de los enlaces */
    position: absolute; /* Posiciona el fondo de manera absoluta con respecto a la figura */
    background-color: rgba(0, 0, 0, 0.5); /* Color de fondo con transparencia */
    padding: 12px; /* Ajusta el espacio dentro del fondo */
    border-radius: 12px; /* Agrega bordes redondeados */
    width: 95.2%; /* Ajusta el ancho del fondo */
    margin: 0 auto; /* Centra horizontalmente el fondo */
    bottom: 6px; /* Coloca el fondo 10px desde la parte inferior */
    left: 50%; /* Centra horizontalmente el fondo */
    transform: translateX(-50%); /* Ajusta la posición horizontal */
    transition: background-color 0.3s ease; /* Transición suave */
}

.featured-games,
.latest-updates {
    color: #fff !important; /* Color de texto blanco (usamos !important para asegurar la prioridad) */
    /* Agrega otros estilos específicos si es necesario */
}
/* ... Tu CSS posterior ... */

.latest-updates {
    background-color: #00000000;
}

.featured-games {
    background-color: #00000000;
}

header h1 {
    font-size: 76px;
}
header h1 a {
    color: #fff;
    text-decoration: none;
}

.featured-games {
    text-align: center;

}



.nav-link:hover {
    color: #ffffff;
    transform: scale(1.1); 
    transition: color 0.3s ease, transform 0.3s ease; 
}
.nav-link {
    transition: color 0.3s ease, transform 0.3s ease; 
}

.nav-link:not(:hover) {
    transform: scale(1); 
}

.container .img_container {
    width: 100%;
    height: auto;
    margin-bottom: 2.5%;
}

.container .img_container .main_img {
    width: 100%;
    height: auto;
    border-radius: 8px;
    object-fit: cover;
    margin-inline: 0%;
    box-shadow: 0 0 100px;
}

.container .thumbnail_container {
    width: 0%;
    display: inline;
    justify-content: space-between;
    margin-inline: 0%;
}

.container .thumbnail_container  .thumbnail {
    width: 100px;
    height: auto;
    border-radius: 5px;
    cursor: pointer;
    object-fit: cover;
    opacity: 0.35;
    transition: opacity ease 0.3s;
    box-shadow: 0 0 100px;
    
}

.active {
    opacity: 1 !important;
}

.container .thumbnail_container  .thumbnail:hover{
    opacity: 1;
    transition: opacity ease 0.3s;
}

section h4 {
    font-size: 250%;
    color: #fff;
    font-family: Mont Heavy;
    text-align: center;
    background-color: #8d8d8d25;
    border-radius: 200px;
    margin-inline: 0%;
    margin-bottom: 5%;
    margin-top: -5%;
    padding-block: 0.5%;
    box-shadow: 0 0 100px black;
}

.bl {
    margin-inline: 5%;
}

.bloodtitle {
    color: #fff;
    font-size: 24px;
    text-align: center;
    font-weight: bold;
}

section div p {
    color: #fff;
    text-align: center;
    font-size: 18px;
    font-weight: normal;
    text-shadow: 0 0 50px black;
    margin-bottom: 0%;
}



section p {
    color: #ffffff;
    font-size: 22px;
    font-weight: bold;
    text-align: center;
    text-shadow: 0 0 50px black;
    margin-bottom: 18%;
}

.downloadto {
    color: #ffffff;
    text-decoration: none;
    margin-inline: 15.5%;
    padding-inline: 4%;
    padding-block: 1%;
    font-size: 36px;
    background-color: #61ff6ead;
    border-radius: 10px;
    font-family: Mont Heavy;
    box-shadow: 0 0 50px black;
}
